<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <title>Интернет-магазин "Краник"</title>

  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body background="images/back1.jpg">
<header id="header" style="background: white; opacity: 0.95;">
  <div class="header-logo">
    <a href="/"><img src="images/logo-removebg-preview.png" width="100%" height="100%"></a>
  </div>
  <nav class="header-container">
    <ul>
      <li><a href="/" class="menu-nav-punkt">Главная</a></li>
      <li><a href="/catalog" class="menu-nav-punkt">Каталог</a></li>
      <li><a href="/" class="menu-nav-punkt">О магазине</a></li>
      <li><a href="/" class="menu-nav-punkt">Контакты</a></li>
      <li>
        <form method="POST" th:action="@{/logout}" id="logoutForm">
          <input type="submit" value="Выйти" style="background: none; border-style: none; font-size: 20px; margin-left: 270%;">
        </form>
      </li>
    </ul>
  </nav>
</header>

<div class="catalog">
  <br>
  <h3>Каталог товаров</h3>

  <form th:method="POST" th:object="${design}" th:action="@{/design}" id="tacoForm">
    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">Basket Error</span>

    <div class="catalog-prod">
      <a class="category">Faucet</a>
      <div th:each="ingredient : ${faucet}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <img src="images/carts.png" width="20px" height="auto">
        <span th:text="${ingredient.name}"></span><br/>
      </div>
      <br>

      <a class="category">Bath</a>
      <div th:each="ingredient : ${bath}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <img src="images/carts.png" width="20px" height="auto">
        <span th:text="${ingredient.name}"></span><br/>
      </div>
      <br>

      <a class="category">Sink</a>
      <div th:each="ingredient : ${sink}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <img src="images/carts.png" width="20px" height="auto">
        <span th:text="${ingredient.name}"></span><br/>
      </div>
      <br>

      <a class="category">Toilet</a>
      <div th:each="ingredient : ${toilet}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <img src="images/carts.png" width="20px" height="auto">
        <span th:text="${ingredient.name}"></span><br/>
      </div>
    </div>
    <br>

    <h6>Name your basket creation:</h6>
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Name Error</span>
    <br>
    <br>
    <button class="submit-order">Отправить заказ</button>
  </form>
</div>


<div id="footer">
  <div class="bottom">
    <div class="info">
      <h6>Коротко о магазине</h6>
      <a>Интернет-магазин "Сантехника62" предоставляет широкий ассортимент сантехники, который сочетается с отличными ценами.</a>
    </div>

    <div class="contacts">
      <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Наши конкакты</h6>
      <ul class="contacts-menu">
        <li>
          <a>Адрес: ул. Пушкина, д. 137</a>
        </li>
        <li>
          <a>Телефон: +7 (4912) 80-80-80</a>
        </li>
        <li>
          <a>Email: santixnika62@mail.ru</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="company">
    <a text-size="12">© 2002—2021 Магазин "Сантехника62".</a>
  </div>
</div>
</body>

</html>